/* ------------------------------------------------FORM------------------------------------------------ */
#form-section {
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: hsla(39, 100%, 83%, 0.8);
  overflow: auto;
}

form {
  background-color: #bdd3a5;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 11rem;
  height: 40rem;
  width: 30rem;
  border-radius: 20px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 3rem;
  overflow: auto;
}
label {
  display: inline-block;
  margin-top: 4rem;
}
.new-book-input {
  font-family: "Amatic SC", cursive;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
  width: 20rem;
  height: 3rem;
  border: 1px solid #bdd3a5;
  border-radius: 10px;
  margin-top: 4rem;
}
#new-title {
  font-size: 3.5rem;
}

#checkbox {
  transform: scale(1.5);
}

#submit-btn {
  font-family: "Amatic SC", cursive;
  font-size: 1.2rem;
  letter-spacing: 4px;
  margin-top: 3.8rem;
  height: 2rem;
  width: 230px;
  border-radius: 10px;
  border: 1px solid #bdd3a5;
}
